<div id="vehicle-panel" class="vehicle-panel hidden">

<div class="panel-header">

<h2>Véhicule sélectionné</h2>

<button id="close-panel">✕</button>

</div>

<div class="panel-body">

<div><b>UUID</b></div>
<div id="v_uuid">-</div>

<hr>

<div><b>Plaque</b></div>
<div id="v_plate">-</div>

<hr>

<div><b>Marque</b></div>
<div id="v_brand">-</div>

<hr>

<div><b>Modèle</b></div>
<div id="v_model">-</div>

<hr>

<div><b>Couleur</b></div>
<div id="v_color">-</div>

<hr>

<div><b>Vitesse</b></div>
<div id="v_speed">0</div>

<hr>

<div><b>Zone</b></div>
<div id="v_zone">-</div>

<hr>

<div><b>Menace</b></div>
<div id="v_threat">NORMAL</div>

<hr>

<div><b>Direction</b></div>
<div id="v_direction">-</div>

</div>

</div>